.faq {
  svg.arrow {
    width: 14px;
    height: 9px;
  }

  .questions {
    padding-left: 0;
    list-style: none;

    .question {
      .answer {
        display: none;
      }

      &.show {
        .answer {
          display: flex;
        }
      }
    }
  }
}
