@import "../_bootstrap";

.caixa {
}

.transacoes {
  display: flex;
  flex-direction: column;
}

.forms {
  display: flex;
  gap: 30px;
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}

.periodos {
  display: flex;
  flex-direction: column;
  
  .totals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    gap: 20px;

    @include media-breakpoint-up(lg) {
      max-width: 100%;
    }
  }
}
