@import "_bootstrap";

.valor-terreno,
.compra-terreno-parcelada {
  .row {
    padding: 10px 20px;
  }
}

.compra-terreno-parcelada {
  .card-header {
    border-bottom: none;
  }

  &.show {
    .card-header {
      border-bottom: var(--bs-card-border-width) solid
        var(--bs-card-border-color);
    }
  }
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  // border: 1px solid;
  @include media-breakpoint-up(lg) {
    justify-content: space-around;
    flex-direction: row;
    gap: 0;
  }
}

.card {
  canvas {
    @include media-breakpoint-up(sm) {
      width: 30vw;
    }

    @include media-breakpoint-down(sm) {
      max-width: 85vw;
    }
  }
}
