@import "_bootstrap";

.valor-terreno,
.compra-terreno-parcelada {
  .row {
    padding: 10px 20px;
  }
}

.compra-terreno-parcelada {
  .card-header {
    border-bottom: none;
  }

  &.show {
    .card-header {
      border-bottom: var(--bs-card-border-width) solid
        var(--bs-card-border-color);
    }
  }
}

.home {
}

.card {
  canvas {
    @include media-breakpoint-up(sm) {
      width: 30vw;
    }

    @include media-breakpoint-down(sm) {
      max-width: 85vw;
    }
  }
}
